<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-googleplus-new" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GooglePlus</name>
    <description>Google Plus Sign-In Plugin for Cordova (Updated for Xcode 16 and FirebaseX 18.x.x)</description>
    <license>MIT</license>
    <keywords>cordova,google,plus,signin,oauth,login</keywords>
    <js-module src="www/GooglePlus.js" name="GooglePlus">
        <clobbers target="window.plugins.googleplus" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="GooglePlus">
                <param name="ios-package" value="GooglePlus" />
            </feature>
        </config-file>

        <source-file src="src/ios/GooglePlus.m" />
        <header-file src="src/ios/GooglePlus.h" />
        <podspec>
			<config>
				<source url="https://cdn.cocoapods.org/"/>
			</config>
			<pods use-frameworks="true">
				<pod name="GoogleSignIn" spec="7.1.0"/>
			</pods>
		</podspec>

    </platform>
</plugin>
